<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ModelExampleCube" connectionString="Provider=MSOLAP.4;Data Source=.;Integrated Security=SSPI;Initial Catalog=ModelExampleCube"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
