<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <!--Name - Readable name for the data provider
      InvariantName - Name that can be used programmatically to refer to the data provider
      The invariant name is used for the providerName attribute
      AssemblyQualifiedName / type - Fully qualified name of the factory class, which contains enough information to instantiate the object-->
      <add name="SSAS Entity Framework Provider" invariant="AgileDesign.SsasEntityFrameworkProvider" description="Entity Framework Provider for SSAS" type="AgileDesign.SsasEntityFrameworkProvider.SsasProviderFactory, SsasEntityFrameworkProvider, Version=2.7.0.0, Culture=neutral, PublicKeyToken=0c609c2d7c233e82"/>
      <add name="SQL Entity Framework Provider" invariant="SqlEntityFrameworkProvider" description="Entity Framework Provider for MS SQL Server" type="SqlEntityFrameworkProvider.SqlFactory, SqlEntityFrameworkProvider, Version=2.7.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="ModelExampleDbContext" connectionString="metadata=..\..\..\ModelExampleDbContext;provider=AgileDesign.SsasEntityFrameworkProvider;provider connection string=&quot;Provider=MSOLAP.4;Data Source=.;Integrated Security=SSPI;Initial Catalog=ModelExampleCube&quot;" providerName="AgileDesign.SsasEntityFrameworkProvider"/>
    <add name="DataTypeTestDb" connectionString="Data Source=.;Initial Catalog=DataTypeTest;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DataTypeTestOlap" connectionString="Provider=MSOLAP.4;Data Source=.;Initial Catalog=DataTypeTestOlap;Integrated Security=SSPI;" providerName="AgileDesign.SsasEntityFrameworkProvider"/>
    <add name="NorthwindEFContextDb" connectionString="data source=.\SQLEXPRESS;Initial Catalog=NorthwindEF;integrated security=True;" providerName="SqlEntityFrameworkProvider"/>
    <!--user instance=True;multipleactiveresultsets=True;App=EntityFramework-->
    <add name="NorthwindEFContextOlap" connectionString="Provider=MSOLAP.4;Data Source=.;Initial Catalog=NorthwindEfOlap;Integrated Security=SSPI;Cube=NorthwindEF" providerName="AgileDesign.SsasEntityFrameworkProvider"/>
    <add name="NorthwindEFContextTabular" connectionString="Cube=Model;Provider=MSOLAP.5;Data Source=grand-tablet\Tabular;Integrated Security=SSPI;Initial Catalog=TabularProject1_Sergey_eb30d0f0-63a8-4fc1-a31f-ad50ef9c1485" providerName="AgileDesign.SsasEntityFrameworkProvider"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="AgileDesign.SsasEntityFrameworkProvider" type="AgileDesign.SsasEntityFrameworkProvider.SsasProvider, SsasEntityFrameworkProvider, Version=2.7.0.0, Culture=neutral, PublicKeyToken=0c609c2d7c233e82"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
